@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@1,700&family=Exo:wght@500&display=swap');

*{
    box-sizing: border-box;
}

body {
    background: url(weather_in_agrigento.png);
    background-size: cover;
    font-family: 'Exo', sans-serif;

    margin: 0;
    padding: 0;

    height: 100vh;
}

/* HEADER */

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: black;
    color: white;

    padding: 0 2%;

    opacity: 0.9;
}

header .header, header .select__wrapper{
    display: flex;
    align-items: center;
}

.select__wrapper label {
    padding-right: 10px;
}

.select__wrapper select {
    border-radius: 2px;
}

.selectComune {
    background-color: black;
    color: white;
}

/* MAIN */

.card__wrapper {
    display: flex;
    background: black;
    flex-direction: column;
    color: white;
    border-radius: 2%;

    margin: 8% 35%;
    padding: 2%;
    border: 2px solid black;

    opacity: 0.9;
}

.card {
    text-align: center;
    line-height: 10px;
}

.modal {
    font-size: 18px;
    text-align: center;
    margin-bottom: -10%;
}

hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(255,255,255, 0.5), rgba(255,255,255, 0.9), rgba(255,255,255, 0.5));
}

/* FOOTER */

footer {
    background-color: black;
    position: fixed;
    width: 100vw;
    bottom: 0;

    opacity: 0.9;
}

footer p {
    font-family: 'Exo', sans-serif;
    font-size: 10px;
    color: #fff;

    text-align: center;
}

footer a:link, a:active,
a:visited {
    color: white;
}

/* RESPONSIVE */

@media screen and (max-width: 800px) {
    header{
        padding: 20px 20px;
    }

    header h1 {
        font-size: 20px;
    }

    header .select__wrapper{
        flex-direction: column;
        align-items: flex-end;
    }

    .select__wrapper label{
        text-align: right;
        padding-right: 0;
        text-transform: uppercase;
        font-size: 0.7rem;
        padding-bottom: 10px;
    }

    .selectComune {
        width: 100%;
    }

    .card__wrapper {
        max-width: 800px;
        margin: 30% 5%;
        font-size: 15px;
    }

    .name {
        line-height: 20px;
    }

    .modal {
        font-size: 15px;
    }
}